body {
    margin: 0px;
    padding: 0px;

}

#navbar {
    float: right;
    padding: 10px;

}

a {
    margin: 50px;
    color: black;
    text-decoration: none;

}

a:hover {
    color: blue;
}

p {
    padding: 13px;
}

img {
    float: right;
    margin: 150px;
    width: 500px;


}

h1 {
    margin: 370px;
}

#footer p {
    background-color: black;
    color: white;
    text-align: center;

}